<font color = 'gray', size = 6>
<b>
set up
</b>
</font>

get data files here: http://www.datacarpentry.org/python-ecology-lesson/setup/

store them in a folder called 'data' in the same place as you will open your jupyter notebook

<font color = 'orange', size = 4>
in this lesson we'll focus on how to select specific parts of your data
</font>

<font color = 'blue', size = 6>
<b>
Loading our data
</b>
</font>

<font color = 'orange', size = 4>
I always import both numpy and pandas
</font>

In [370]:
import numpy as np
import pandas as pd

<font color = 'orange', size = 4>
import our data
</font>

In [371]:
surveys_df = pd.read_csv('data/surveys.csv')

<font color = 'blue', size = 6>
<b>
Selecting data using Labels (Column Headings)
</b>
</font>

<font color = 'orange', size = 4>
you might remember this from the last lesson
</font>

In [372]:
surveys_df.species_id.head()

0    NL
1    NL
2    DM
3    DM
4    DM
Name: species_id, dtype: object

<font color = 'orange', size = 4>
you can also write it like this
</font>

In [373]:
surveys_df['species_id'].head()

0    NL
1    NL
2    DM
3    DM
4    DM
Name: species_id, dtype: object

<font color = 'orange', size = 4>
to get more than 1 column we have to pass a list, so we can't use the dot version
</font>

In [374]:
surveys_df[['species_id', 'plot_id']].head()

  species_id  plot_id
0         NL        2
1         NL        3
2         DM        2
3         DM        7
4         DM        3

<font color = 'orange', size = 4>
this lets us create a view of our dataset
</font>

<font color = 'orange', size = 4>
we can create a different view and change the order
</font>

In [375]:
surveys_df[['plot_id', 'species_id']].head()

   plot_id species_id
0        2         NL
1        3         NL
2        2         DM
3        7         DM
4        3         DM

<font color = 'orange', size = 4>
what happens if we ask for something not in the data?
</font>

In [376]:
# surveys_df[['plot_ids']].head()       # will error

<font color = 'blue', size = 6>
<b>
Extracting Range based Subsets: Slicing
</b>
</font>

<font color = 'orange', size = 4>
as background: python uses zero-based counting, or indexing
</font>

<font color = 'orange', size = 4>
let's create a list
</font>

In [377]:
a_list = [1, 2, 3, 4, 5]
a_list

[1, 2, 3, 4, 5]

<font color = 'orange', size = 4>
how can we get the first value?
</font>

In [378]:
a_list[0]

1

<font color = 'orange', size = 4>
what if we want the 5th value?
</font>

In [379]:
# a_list[5]         # will error

<font color = 'orange', size = 4>
so how long is our list?
</font>

In [380]:
len(a_list)

5

<font color = 'blue', size = 6>
<b>
Slicing Subsets of Rows in Python
</b>
</font>

<font color = 'orange', size = 4>
python indexes by :: DataFrame[rows, columns]
</font>

<font color = 'orange', size = 4>
remember what head() does?
</font>

In [381]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
let's manually get the first 5 rows of our surveys_df
</font>

In [382]:
surveys_df[0:5]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
the zero is assumed, but you still need the colon
</font>

In [383]:
surveys_df[:5]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
how would you get the last 5 rows?
</font>

In [384]:
surveys_df[-5:]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

<font color = 'orange', size = 4>
how can we validate that?
</font>

In [385]:
surveys_df.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

<font color = 'blue', size = 6>
<b>
Copying Objects vs Referencing Objects in Python
</b>
</font>

<font color = 'orange', size = 4>
I often run into trouble with this:
</font>

<font color = 'orange', size = 4>
I think I'm working with a copy of a dataframe, but I'm actually referencing one
</font>

<font color = 'orange', size = 4>
this is problematic because you will want to play with your data in a way that works with new dataframes, but does not work with references
</font>

<font color = 'orange', size = 4>
it's one of those problems where you will see a warning or an error, but it'll seem like things are still working.
</font>

<font color = 'orange', size = 4>
knowing a copy from a reference can keep you from having that problem
</font>

<font color = 'orange', size = 4>
let's create a fresh surveys dataframe
</font>

<font color = 'orange', size = 4>
and every time I create something, I should validate it
</font>

In [386]:
surveys_original = pd.read_csv('data/surveys.csv')
surveys_original.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
often, you're worried about losing data
</font>

<font color = 'orange', size = 4>
so confirming the shape (rows & columns) can be helpful
</font>

In [387]:
surveys_original.shape

(35549, 9)

<font color = 'orange', size = 4>
first, let's create a copy of that dataframe
</font>

In [388]:
surveys_df_copy = surveys_original.copy()
surveys_df_copy.shape

(35549, 9)

<font color = 'orange', size = 4>
let's also create an object that references our original dataframe
</font>

In [389]:
surveys_df_reference = surveys_original
surveys_df_reference.shape

(35549, 9)

<font color = 'orange', size = 4>
these two objects look the same
</font>

In [390]:
type(surveys_df_copy)

pandas.core.frame.DataFrame

In [391]:
surveys_df_copy.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [392]:
type(surveys_df_reference)

pandas.core.frame.DataFrame

In [393]:
surveys_df_reference.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

<font color = 'orange', size = 4>
but they aren't
</font>

<font color = 'orange', size = 4>
let's look at our original dataframe
</font>

In [394]:
surveys_original.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
let's look at the first three rows of our copy
</font>

In [395]:
surveys_df_copy[0:3]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN

<font color = 'orange', size = 4>
let's change set all to zero
</font>

In [396]:
surveys_df_copy[0:3] = 0

In [397]:
surveys_df_copy.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0.0
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
so what happened to our original?
</font>

In [398]:
surveys_original.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
nothing happened, because we weren't playing with the original
</font>

<font color = 'orange', size = 4>
let's create another object that references our original dataframe
</font>

In [399]:
surveys_df_reference = surveys_original
surveys_df_reference.shape

(35549, 9)

<font color = 'orange', size = 4>
let's look at the first three rows of our reference object
</font>

In [400]:
surveys_df_reference[0:3]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN

<font color = 'orange', size = 4>
let's set them as zero
</font>

In [401]:
surveys_df_reference[0:3] = 0

In [402]:
surveys_df_reference.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0.0
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
so what happened to our original?
</font>

In [403]:
surveys_original.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0.0
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
what about that copy?
</font>

In [404]:
surveys_df_copy.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0.0
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
how do we get our data back?
</font>

<font color = 'orange', size = 4>
just import it again
</font>

<font color = 'orange', size = 4>
until you export, nothing outside of jupyter changes
</font>

In [405]:
surveys_df = pd.read_csv('data/surveys.csv')
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'blue', size = 6>
<b>
Subsetting Data using Criteria
</b>
</font>

<font color = 'orange', size = 4>
how big is our full data set again?
</font>

In [406]:
surveys_df.shape

(35549, 9)

<font color = 'orange', size = 4>
let's only look at data from the year 2002
</font>

In [407]:
surveys_df[surveys_df.year == 2002].shape

(2229, 9)

<font color = 'orange', size = 4>
and the opposite?
</font>

In [408]:
surveys_df[surveys_df.year != 2002].shape

(33320, 9)

<font color = 'orange', size = 4>
conditionals also work
</font>

In [409]:
surveys_df[(surveys_df.year > 2000) & (surveys_df.year <= 2002)].shape

(3839, 9)

<font color = 'orange', size = 4>
line breaks can help with read-ability
</font>

In [410]:
surveys_df[(surveys_df.year > 2000) & 
           (surveys_df.year <= 2002)]\
            .shape

(3839, 9)

<font color = 'orange', size = 4>
remember value counts() ?
</font>

In [411]:
surveys_df[(surveys_df.year > 2000) & (surveys_df.year <= 2002)].year.value_counts()

2002    2229
2001    1610
Name: year, dtype: int64

<font color = 'orange', size = 4>
here is a quick reference for those conditionals
</font>

In [412]:
surveys_df[surveys_df.year == 2000].year.value_counts()

2000    1552
Name: year, dtype: int64

In [413]:
surveys_df[surveys_df.year != 2000].year.value_counts()

1997    2493
2002    2229
1982    1978
1996    1706
1983    1673
1987    1671
2001    1610
1998    1610
1989    1569
1981    1472
1988    1469
1985    1438
1980    1415
1991    1347
1990    1311
1995    1222
1999    1135
1978    1048
1992    1038
1984     981
1986     942
1993     750
1979     719
1994     668
1977     503
Name: year, dtype: int64

In [414]:
surveys_df[surveys_df.year > 2000].year.value_counts()          # you can add =

2002    2229
2001    1610
Name: year, dtype: int64

In [415]:
surveys_df[surveys_df.year < 2000].year.value_counts()          # you can add =

1997    2493
1982    1978
1996    1706
1983    1673
1987    1671
1998    1610
1989    1569
1981    1472
1988    1469
1985    1438
1980    1415
1991    1347
1990    1311
1995    1222
1999    1135
1978    1048
1992    1038
1984     981
1986     942
1993     750
1979     719
1994     668
1977     503
Name: year, dtype: int64

<font color = 'orange', size = 4>
lists can also become conditionals
</font>

In [416]:
the_90s = np.arange(1990, 2000, 1)
the_90s

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999])

<font color = 'orange', size = 4>
which is SUPER helpful for keeping things organized
</font>

In [417]:
surveys_df[surveys_df.year.isin(the_90s)].year.value_counts()

1997    2493
1996    1706
1998    1610
1991    1347
1990    1311
1995    1222
1999    1135
1992    1038
1993     750
1994     668
Name: year, dtype: int64

<font color = 'blue', size = 6>
<b>
Slicing Subsets of Rows and Columns in Python
</b>
</font>

<font color = 'orange', size = 4>
what if we want to look at a specific part of our data?
</font>

<font color = 'orange', size = 4>
one way is integer location -- or iloc[]
</font>

In [418]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
what if we want to look at a specific part of our data?
</font>

In [419]:
surveys_df.iloc[0:3, : ] # rows 1,2,3   and   columns 2, 3, 4

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN

<font color = 'orange', size = 4>
and even more specific
</font>

In [420]:
surveys_df.loc[[0, 10, 35549], ['species_id', 'weight']]

      species_id  weight
0             NL     NaN
10            DS     NaN
35549        NaN     NaN

<font color = 'orange', size = 4>
let's make that cleaner
</font>

In [421]:
my_rows = [0, 10, 35549]
my_columns = ['species_id', 'weight']

surveys_df.loc[my_rows , my_columns]

      species_id  weight
0             NL     NaN
10            DS     NaN
35549        NaN     NaN

<font color = 'blue', size = 6>
<b>
Using masks to identify a specific condition
</b>
</font>

<font color = 'orange', size = 4>
remember our conditionals?
</font>

In [422]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

<font color = 'orange', size = 4>
let's find those DM species
</font>

In [423]:
surveys_df.species_id == 'DM'

0        False
1        False
2         True
3         True
4         True
5        False
6        False
7         True
8         True
9        False
10       False
11        True
12        True
13        True
14        True
15        True
16       False
17       False
18       False
19       False
20        True
21       False
22        True
23       False
24        True
25        True
26        True
27        True
28       False
29       False
         ...
35519    False
35520     True
35521     True
35522     True
35523    False
35524    False
35525    False
35526    False
35527    False
35528    False
35529    False
35530    False
35531     True
35532     True
35533     True
35534     True
35535     True
35536     True
35537    False
35538    False
35539    False
35540    False
35541    False
35542    False
35543    False
35544    False
35545    False
35546    False
35547    False
35548    False
Name: species_id, dtype: bool

<font color = 'orange', size = 4>
let's only look at them
</font>

In [424]:
surveys_df[surveys_df.species_id == 'DM']

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
30,31,7,17,1977,15,DM,F,37.0,NaN
31,32,7,17,1977,10,DM,F,35.0,NaN
32,33,7,17,1977,11,DM,F,36.0,NaN
33,34,7,17,1977,17,DM,NaN,NaN,NaN
34,35,7,17,1977,13,DM,F,38.0,NaN
36,37,7,17,1977,11,DM,F,35.0,NaN
38,39,7,17,1977,11,DM,F,36.0,NaN
39,40,7,18,1977,20,DM,M,36.0,NaN
40,41,7,18,1977,23,DM,F,34.0,NaN
42,43,7,18,1977,21,DM,M,36.0,NaN
43,44,7,18,1977,18,DM,F,35.0,NaN
44,45,7,18,1977,22,DM,M,36.0,NaN
45,46,7,18,1977,19,DM,M,35.0,NaN
46,47,7,18,1977,18,DM,M,32.0,NaN
...,...,...,...,...,...,...,...,...,...
35340,35341,12,8,2002,9,DM,F,36.0,42.0
35343,35344,12,8,2002,9,DM,M,37.0,50.0
35363,35364,12,8,2002,14,DM,F,36.0,49.0
35364,35365,12,8,2002,14,DM,F,34.0,48.0
35365,35366,12,8,2002,14,DM,M,33.0,50.0
35366,35367,12,8,2002,14,DM,M,37.0,53.0
35367,35368,12,8,2002,14,DM,F,33.0,41.0
35368,35369,12,8,2002,14,DM,F,36.0,47.0
35369,35370,12,8,2002,14,DM,M,36.0,50.0
35396,35397,12,29,2002,2,DM,F,34.0,34.0
35409,35410,12,29,2002,12,DM,F,35.0,48.0
35411,35412,12,29,2002,12,DM,M,36.0,36.0
35435,35436,12,29,2002,17,DM,F,34.0,32.0
35436,35437,12,29,2002,17,DM,M,35.0,42.0
35439,35440,12,29,2002,17,DM,F,27.0,44.0
35440,35441,12,29,2002,17,DM,M,34.0,47.0
35443,35444,12,29,2002,17,DM,F,36.0,47.0
35444,35445,12,29,2002,17,DM,M,33.0,39.0
35468,35469,12,29,2002,22,DM,M,36.0,41.0
35516,35517,12,31,2002,11,DM,F,36.0,42.0
35518,35519,12,31,2002,9,DM,M,37.0,49.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0

<font color = 'orange', size = 4>
using a mask lets us focus on only those True rows
</font>

In [425]:
rows_to_fill = surveys_df[surveys_df.species_id == 'DM']
rows_to_fill

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
30,31,7,17,1977,15,DM,F,37.0,NaN
31,32,7,17,1977,10,DM,F,35.0,NaN
32,33,7,17,1977,11,DM,F,36.0,NaN
33,34,7,17,1977,17,DM,NaN,NaN,NaN
34,35,7,17,1977,13,DM,F,38.0,NaN
36,37,7,17,1977,11,DM,F,35.0,NaN
38,39,7,17,1977,11,DM,F,36.0,NaN
39,40,7,18,1977,20,DM,M,36.0,NaN
40,41,7,18,1977,23,DM,F,34.0,NaN
42,43,7,18,1977,21,DM,M,36.0,NaN
43,44,7,18,1977,18,DM,F,35.0,NaN
44,45,7,18,1977,22,DM,M,36.0,NaN
45,46,7,18,1977,19,DM,M,35.0,NaN
46,47,7,18,1977,18,DM,M,32.0,NaN
...,...,...,...,...,...,...,...,...,...
35340,35341,12,8,2002,9,DM,F,36.0,42.0
35343,35344,12,8,2002,9,DM,M,37.0,50.0
35363,35364,12,8,2002,14,DM,F,36.0,49.0
35364,35365,12,8,2002,14,DM,F,34.0,48.0
35365,35366,12,8,2002,14,DM,M,33.0,50.0
35366,35367,12,8,2002,14,DM,M,37.0,53.0
35367,35368,12,8,2002,14,DM,F,33.0,41.0
35368,35369,12,8,2002,14,DM,F,36.0,47.0
35369,35370,12,8,2002,14,DM,M,36.0,50.0
35396,35397,12,29,2002,2,DM,F,34.0,34.0
35409,35410,12,29,2002,12,DM,F,35.0,48.0
35411,35412,12,29,2002,12,DM,M,36.0,36.0
35435,35436,12,29,2002,17,DM,F,34.0,32.0
35436,35437,12,29,2002,17,DM,M,35.0,42.0
35439,35440,12,29,2002,17,DM,F,27.0,44.0
35440,35441,12,29,2002,17,DM,M,34.0,47.0
35443,35444,12,29,2002,17,DM,F,36.0,47.0
35444,35445,12,29,2002,17,DM,M,33.0,39.0
35468,35469,12,29,2002,22,DM,M,36.0,41.0
35516,35517,12,31,2002,11,DM,F,36.0,42.0
35518,35519,12,31,2002,9,DM,M,37.0,49.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0

<font color = 'orange', size = 4>
let's make a column specific to those DM species
</font>

In [426]:
surveys_df['dm'] = 'not'
print(surveys_df.dm.value_counts())
surveys_df.head()

not    35549
Name: dm, dtype: int64

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,dm
0,1,7,16,1977,2,NL,M,32.0,NaN,not
1,2,7,16,1977,3,NL,M,33.0,NaN,not
2,3,7,16,1977,2,DM,F,37.0,NaN,not
3,4,7,16,1977,7,DM,M,36.0,NaN,not
4,5,7,16,1977,3,DM,M,35.0,NaN,not

<font color = 'orange', size = 4>
now we'll fill that column
</font>

In [427]:
rows_to_fill = (surveys_df.species_id == 'DM')
column_to_fill = 'dm'
surveys_df.loc[rows_to_fill, column_to_fill] = 'doberman'

<font color = 'orange', size = 4>
and confirm that it worked
</font>

In [428]:
print(surveys_df.dm.value_counts())
surveys_df.head()

not         24953
doberman    10596
Name: dm, dtype: int64

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,dm
0,1,7,16,1977,2,NL,M,32.0,NaN,not
1,2,7,16,1977,3,NL,M,33.0,NaN,not
2,3,7,16,1977,2,DM,F,37.0,NaN,doberman
3,4,7,16,1977,7,DM,M,36.0,NaN,doberman
4,5,7,16,1977,3,DM,M,35.0,NaN,doberman